<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joaobravo.isttickets">

    <!-- Request Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">  <!-- remove this if publishing on Play Store -->

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Set as Launcher Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Academic Office Activity -->
        <activity
            android:name=".AcademicOfficeActivity"
            android:label="@string/academic_office"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Mobility & International Office Activity -->
        <activity android:name=".MobilityInternationalActivity"
            android:label="@string/mobility_international_office"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Taguspark Office Activity -->
        <activity android:name=".TagusparkActivity"
            android:label="@string/taguspark_office"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>
</manifest>